
body {
    font-family: 'Work Sans',sans-serif !important;
}

.carousel-item {
   
    height: 100vh;
}

.carousel-item img {
    object-fit: cover;
    height: 90%;
}

.carousel-caption {
    color: #000;
    width: 30%;
    
    left: 10% !important;
    top: 20%;
}

.carousel-caption h5 {
    font-size: 5rem !important;
    font-weight: 600;
}

.carousel-caption p {
    padding: 1.3rem 0;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: rgb(78, 76, 76);
}

.logo-x {
    font-size: 2.5rem;
    color:violet;
}

.who-img-container img {
    width: 100%;
    height: 100% !important;
    object-fit: cover !important;
}
.service-img {
    /* transform: scale(1.1); */
    height: 300px !important;
    overflow: hidden;
   
}

.service-img img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease-in-out;
}

.service-img img:hover {
    transform: scale(1.2);
}
.box-size {
    box-sizing: border-box;
}

/* Changr light background color */

.bg-light {
    background-color: rgb(233, 233, 233) !important;
}

.liner {
    display: inline-block;
    width: 4rem;
    height: 3px;
}

.service-wrap i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.help-step {
    font-size: 2rem;
    font-weight: 600;
}
.help-img-container img{
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.help-para {
    width: 50%;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(51,51,51,0.1);
}

.help-bg-img {
    background: transparent url(https://wporganic.com/theme/repair-shop/wp-content/uploads/2017/07/Screen-Shot-2017-07-31-at-7.50.31-PM.png) center center/cover no-repeat scroll;
}

.testimonial {
    padding: 4rem 0;
    background: linear-gradient(rgba(231, 231, 231, 0.80), rgba(231, 231, 231, 0.80)), transparent url(https://wporganic.com/theme/repair-shop/wp-admin/admin-ajax.php?action=kc_get_thumbn&type=filter_url&id=%2Fwp-content%2Fuploads%2F2017%2F07%2Ftestimonial-bg.jpg) center center/cover no-repeat fixed;
}

.testimonial-content{
    position: relative;
}
.pointer{
    
    width: 1.4rem;
    height: 1.4rem;
    background-color: #fff;
    position: absolute;
    bottom: -0.5rem;
    transform: rotate(145deg);
}

.profile .profile-img {
    width: 50px;
    height: auto;
}

/* Main Services Page Styling */
.main-services {
    height: 400px;
    background: url(./img/service-bg-main.jpg) center center/cover no-repeat;
}

.price-section {
    height: 400px;
    background: url(./img/price-section-bg.jpg) center center/cover no-repeat;
}

.currency-icon{
    font-size: 0.8rem;
    vertical-align: top;
}

.value {
    font-family: 'Work Sans', sans-serif;
    font-size: 3.6rem;
    font-weight: 900;
    line-height: 0.8;
    /* color: #FFF; */
}

.monthly {
    padding-bottom: 1rem;
}

.price-description {
    line-height: 2.8;
    opacity: 0.8;
}

.price-header {
    
    font-weight: 600;
}

/* green */
.price-header-green {
    background-color: #b8d77b;
}
.price-content-green {
    background-color: #a2c86f;
}

/* pink */
.price-header-pink {
    background-color: #d67acd;
}
.price-content-pink {
    background-color: #c86fbf;
}

/* cyan */
.price-header-cyan {
    background-color: #7ac8d6;
}
.price-content-cyan {
    background-color: #6fbac8;
}

/* purple */
.price-header-purple {
    background-color: #7a89d6;
}
.price-content-purple {
    background-color: #6f7ec7;
} 

.price-features {
    border: 1px solid #d8d6d6;
}

.feature-item {
    border-bottom: 1px solid #d8d6d6;
    font-size: 0.9rem;
    font-weight: 300;
}

.text-dim {
    color: #d8d6d6;
}

.btn-book {
    text-decoration: none !important;
    display: inline-block;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.btn-book:hover {
    color: #fff;
}

.btn-green {
    color: #a2c86f;
    border: 1px solid #a2c86f;
}
.btn-green:hover {
    background-color: #a2c86f;
}

/* pink button */
.btn-pink {
    color:#c86fbf;
    border: 1px solid #c86fbf;
}
.btn-pink:hover {
    background-color:#c86fbf;
}

/* cyan button  */
.btn-cyan {
    color:#6fbac8;
    border: 1px solid #6fbac8;
}
.btn-cyan:hover {
    background-color:#6fbac8;
}

/* purple button */
.btn-purple {
    color:#6f7ec7;
    border: 1px solid #6f7ec7;
}
.btn-purple:hover {
    background-color: #6f7ec7;
}

/* Contact Us Page Styling */

.contact-section {
    height: 400px;
  background:linear-gradient(0deg, rgba(10, 10, 10, 0.3), rgba(17, 17, 17, 0.3)), url('./img/contact-section-bg.jpg');
  background-size:cover;
}

.contact-icon i {
    /* width: 3rem;
    height: 3rem; */
    padding: 2.5rem;
   /* border: 1px solid  #6f7ec7; */
    border-radius: 50%;
    font-size: 1.4rem;
}

.call-us {
    background: linear-gradient(rgba(231,231,231,.8),rgba(231,231,231,.8)),transparent url('./img/call-bg.jpg') center center/cover no-repeat scroll;
    padding-top: 40px;
}

.highlight {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

.big-contact-number {
    font-size: 5rem;
    font-weight:600;
    font-style: italic;
}

.sub-highlight {
    font-size: 1.5rem;
    font-style: italic;
    color: grey;
}

/* Media Queries */

@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        width: 50% !important;
       display: block !important;
    }

    .carousel-caption h5{
        font-size: 2rem !important;
     }
     .carousel-caption p{
        font-size: 1rem !important;
     }

     .service-img {
         padding: 0 !important;
     }

     .main-services, .price-section {
         height: auto;
     }

     .service-content, 
     .price-content {
         width: 70% !important;
         margin: auto;
         padding: 1.5rem 0;
     }

     .contact-icon i {
       margin-top: 1rem;
        padding: 1.5rem;
    
    }

    .highlight {
        font-size: 1rem;
    }
    
    .big-contact-number {
        font-size: 2.2rem;
    
    }
    
    .sub-highlight {
        font-size: 1rem;
    
    }

}